:root {
    /* HEX */
    --paletteColor1: #212121;
    --paletteColor2: #fff;
    --paletteColor3: #313131;

    /* RGBA */
    --paletteColor4: rgba(144, 144, 144, 0.30);
    --paletteColor5: rgba(255, 255, 255, 0.45);
}
